<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher Assistant</title>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>


  <style>
    html {
        background-color:;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        margin-bottom: -364px;
    }
    body {
        overflow-y: hidden;
        background-color:#337ab7;
    }
    @import url(http://fonts.googleapis.com/css?family=Roboto);
  </style>
<body>
    <div class="text-center" style="background-color:#337ab7; line-height: 708px;">

        <h1 class="white" style="line-height: 569px;">Teacher Assistant</h1>
        <a href="/auth/login"><button type="button" style="background-color: #00BCD4;" class="btn btn-primary btn-large">Click Here to Start</button></a>
    </div>

</body>
</html>