<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher Assistant</title>

    <link href="/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

<nav class="hidden"></nav>

  <style>
    html {
        background-color:#337ab7
    }
    h1{
        margin-bottom: -364px;
    }
    body {
        background-color: #337ab7;
    }
    @import url(http://fonts.googleapis.com/css?family=Roboto);
  </style>
<body>
    <div class="text-center" style="background-color:#337ab7; line-height: 708px;">

        <h1 class="white" style="line-height: 435px;">Teacher Assistant</h1>
        <a href="/auth/login">
        <button type="button" style="background-color: #00BCD4;" class="btn btn-primay btn-lg btn-center">
        <h4>Click Here to Start</h4>
        </button>
        </a>

        

    </div>

</body>
</html>
