<h1>Sinatra Warden Example</h1>

<p><a href="/auth/login">Log In</a> | <a href="/protected">Protected Page</a> | <a href="/auth/logout">Log Out</a></p>

<% if flash[:success] %>
<div style="color:green;">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:error] %>
<div style="color:red;">
  <%= flash[:error] %>
</div>
<% end %>