<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher Assistant</title>

    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand white" href="#">Teacher Assistant</a>
    </div>
</nav>

  <body>
  	<div class="row">
  		<div class="col-md-12">
  			<div class="panel panel-default" style="height: 250px; width: 350px;">
            <div class="panel-body">
            <div class="col-md-12">
              <div style=""class="panel panel-default">
                <div class="panel-body text-center">
              <form action="/auth/create_signup" method="post">
                 <input name="username"placeholder="username"> 
                 <input name="name" placeholder="name"/>
                 <input name="last_name" placeholder="last name">
                 <input name="school" placeholder="school">
                 <input name="password" placeholder="password">
	  				<button type="submit" style="color: #fff;" class="btn btn-large btn-parents test-center"> Submit</button>
          </form>
            </div>
            </div>
	  			</div>
  			</div>
  		</div>
  	</div>
  </div>
  </body>
</html>