.btn-abs{
	background: #00BCD4;
	max-width: 50%;


}
.btn-present{
	background: #03A9F4;
	max-width: 50%;
}

.tbl-scr{
	overflow-y: visible;

}

body{
	overflow-x: hidden;
}

h1{
    font-family: 'Roboto', sans-serif;
	margin-bottom: -364px;
}

.navbar-default, .navbar-collapse, .navbar-form{
	background-color: #2196F3;`

}

.white{
	color: #fff !important;
}

.btn-parents{
	text-align: center;
	width: 100%;
	background-color: #2196F3 !important;

}

.btn-center{
	text-align: center;
	color: #fff !important;
	padding-bottom: 28px;
}

.panel-primary>.panel-heading {
	background-color: #00BCD4;
}