.btn-abs{
	background: #00BCD4;
	max-width: 50%;


}
.btn-present{
	background: #03A9F4;
	max-width: 50%;
}

.tbl-scr{
	overflow-y: visible;

}

html{
	overflow-x: hidden;
	overflow-y: hidden;
}

.navbar-default, .navbar-collapse, .navbar-form{
	background-color: #2196F3;`

}

.white{
	color: #fff !important;
}

.btn-parents{
	text-align: center;
	width: 100%;
	background-color: #2196F3 !important;

}

.panel-primary>.panel-heading {
	background-color: #00BCD4;
}